## importar modulos

In [26]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
#cargar dataset
df_movies_metadata= pd.read_csv('../../resources/kaggle.com_datasets_rounakbanik_the-movies-dataset/movies_metadata.csv')

/var/folders/nn/lljwmm6x2dv_0lt6bz9y5tvc0000gn/T/ipykernel_59000/1251415497.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies_metadata= pd.read_csv('../../resources/kaggle.com_datasets_rounakbanik_the-movies-dataset/movies_metadata.csv')

## Imprimir esquema

In [28]:
df_movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

## Contar los registros por columna

In [29]:
df_movies_metadata.count()

adult                    45466
belongs_to_collection     4494
budget                   45466
genres                   45466
homepage                  7782
id                       45466
imdb_id                  45449
original_language        45455
original_title           45466
overview                 44512
popularity               45461
poster_path              45080
production_companies     45463
production_countries     45463
release_date             45379
revenue                  45460
runtime                  45203
spoken_languages         45460
status                   45379
tagline                  20412
title                    45460
video                    45460
vote_average             45460
vote_count               45460
dtype: int64

## Contar el total de registros en el dataset

In [30]:
df_movies_metadata.shape[0]

45466

## Filtrar datos en el dataset

### Filtrar el dataset todas las peliculas que salieron en el año 2000

In [37]:
df_movies_metadata[(df_movies_metadata["release_date"]>='2000-01-01') & (df_movies_metadata["release_date"]<='2000-12-31')   ].iloc[:3]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2654,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}, {'id': 80, 'name': 'Crime'}]",https://www.miramax.com/movie/the-yards,19457,tt0138946,en,The Yards,"In the rail yards of Queens, contractors repair and rebuild the city's subway cars. These contracts are lucrative, so graft and corruption are rife. When Leo Handler gets out of prison, he finds his aunt married to Frank Olchin, one of the big contractors; he's battling with a minority-owned firm for contracts.",...,2000-04-27,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]",Released,He's the target of the most merciless family in New York. His own.,The Yards,False,6.0,98.0
3060,False,"{'id': 43563, 'name': 'Friday Collection', 'poster_path': '/dWh1Fohgx07AEd4vRUwgIj8BYxD.jpg', 'backdrop_path': '/pXszT8ZWGj3fohU9FY0niA0IDEw.jpg'}",11000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,10471,tt0195945,en,Next Friday,"Ice Cube returns as Craig Jones, a streetwise man from South Central Los Angeles who has a knack for getting into trouble. This time out, Craig is still trying to outsmart neighborhood bully Debo (Tommy ""Tiny"" Lister Jr.); after Craig gets the better of Debo in a fist fight, Debo is determined to flatten Craig in a rematch. Looking to stay out of Debo's way, Craig's dad decides that it would be a good idea for Craig to hide out with his Uncle Elroy and cousin Day-Day in Rancho Cucamonga... but trouble seems to find him there also.",...,2000-01-12,59827328.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The suburbs make the hood look good.,Next Friday,False,6.5,145.0
3071,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 10751, 'name': 'Family'}]",NaN,41276,tt0208261,en,The Life and Times of Hank Greenberg,"The story of Baseball Hall-of-Famer Hank Greenberg is told through archival film footage and interviews with Jewish and non-Jewish fans, his former teammates, his friends, and his family. As a great first baseman with the Detroit Tigers, Greenberg endured antisemitism and became a hero and source of inspiration throughout the Jewish community, not incidentally leading the Tigers to Major League dominance in the 1930s. Written by George S. Davis",...,2000-01-12,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"When America Needed Heroes, A Jewish Slugger Stepped To The Plate.",The Life and Times of Hank Greenberg,False,4.0,2.0

## Obtener las columnas id title y release_date

In [41]:
peliculas_del_2000_df=df_movies_metadata[(df_movies_metadata["release_date"]>='2000-01-01') & (df_movies_metadata["release_date"]<='2000-12-31')].filter(items=['id', 'title','release_date','spoken_languages'])
peliculas_del_2000_df

,id,title,release_date,spoken_languages
2654,19457,The Yards,2000-04-27,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3060,10471,Next Friday,2000-01-12,"[{'iso_639_1': 'en', 'name': 'English'}]"
3071,41276,The Life and Times of Hank Greenberg,2000-01-12,"[{'iso_639_1': 'en', 'name': 'English'}]"
3072,17908,My Dog Skip,2000-01-14,"[{'iso_639_1': 'en', 'name': 'English'}]"
3073,10384,Supernova,2000-01-14,"[{'iso_639_1': 'en', 'name': 'English'}]"
...,...,...,...,...
45125,62741,Tender Age,2000-06-06,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]"
45132,15329,Tomorrow's Another Day,2000-11-15,"[{'iso_639_1': 'fr', 'name': 'Français'}]"
45420,18098,Arabian Nights,2000-04-30,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'pl', 'name': 'Polski'}, {'iso_639_1': 'es', 'name': 'Español'}]"
45457,390959,Shadow of the Blair Witch,2000-10-22,"[{'iso_639_1': 'en', 'name': 'English'}]"
45458,289923,The Burkittsville 7,2000-10-03,"[{'iso_639_1': 'en', 'name': 'English'}]"

In [47]:
peliculas_del_2000_df[peliculas_del_2000_df['spoken_languages'].str.contains("Español")]

,id,title,release_date,spoken_languages
2654,19457,The Yards,2000-04-27,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3183,2069,The Whole Nine Yards,2000-02-18,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3413,1359,American Psycho,2000-04-13,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]"
3414,4967,Keeping the Faith,2000-04-14,"[{'iso_639_1': 'he', 'name': 'עִבְרִית'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3432,14736,Love & Basketball,2000-04-21,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3440,40562,Committed,2000-01-21,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'en', 'name': 'English'}]"
3445,19600,Bossa Nova,2000-01-01,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'pt', 'name': 'Português'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3502,8584,Shanghai Noon,2000-05-26,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3622,479,Shaft,2000-06-15,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]"
3760,19150,The Crew,2000-08-21,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3769,10480,Nurse Betty,2000-09-08,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'en', 'name': 'English'}]"
3775,51179,Circus,2000-05-05,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'en', 'name': 'English'}]"
3782,10562,Under Suspicion,2000-09-24,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3843,1636,Bedazzled,2000-10-19,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3857,77434,What's Cooking?,2000-01-20,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'vi', 'name': 'Tiếng Việt'}, {'iso_639_1': 'yi', 'name': ''}]"
3896,5001,Before Night Falls,2000-09-03,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'en', 'name': 'English'}]"
3900,1493,Miss Congeniality,2000-12-14,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'ru', 'name': 'Pусский'}]"
3906,21355,All the Pretty Horses,2000-12-11,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
3909,1900,Traffic,2000-12-27,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'en', 'name': 'English'}]"
4018,843,In the Mood for Love,2000-05-22,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'es', 'name': 'Español'}]"
4021,12806,Nico and Dani,2000-05-18,"[{'iso_639_1': 'ca', 'name': 'Català'}, {'iso_639_1': 'es', 'name': 'Español'}]"
4108,55,Amores perros,2000-06-16,"[{'iso_639_1': 'es', 'name': 'Español'}]"
4109,65075,Keep the River on Your Right: A Modern Cannibal Tale,2000-04-15,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
4172,37691,Bread and Roses,2000-05-10,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
4173,115810,Calle 54,2000-10-06,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'en', 'name': 'English'}]"
4186,48109,Our Song,2000-01-21,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'en', 'name': 'English'}]"
4511,327,Brother,2000-09-09,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639_1': 'es', 'name': 'Español'}]"
4636,44321,Our Lady of the Assassins,2000-09-01,"[{'iso_639_1': 'es', 'name': 'Español'}]"
4739,27092,Burnt Money,2000-05-11,"[{'iso_639_1': 'es', 'name': 'Español'}]"
5185,18079,Nine Queens,2000-08-31,"[{'iso_639_1': 'es', 'name': 'Español'}]"
5808,33504,El Bola,2000-10-20,"[{'iso_639_1': 'es', 'name': 'Español'}]"
5861,16225,Heavy Metal 2000,2000-04-19,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
6397,40947,Km. 0,2000-01-01,"[{'iso_639_1': 'es', 'name': 'Español'}]"
6652,11477,Common Wealth,2000-09-29,"[{'iso_639_1': 'es', 'name': 'Español'}]"
7354,47108,I Come,2000-10-04,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'es', 'name': 'Español'}]"
9191,31774,Picking Up the Pieces,2000-05-26,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
9212,29512,Bruiser,2000-02-13,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
9236,33355,For Love or Country: The Arturo Sandoval Story,2000-11-18,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'en', 'name': 'English'}]"
9787,167087,Asfalto,2000-02-04,"[{'iso_639_1': 'es', 'name': 'Español'}]"
13417,171840,Kimberly,2000-11-07,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'es', 'name': 'Español'}]"
14538,100122,The Art of Dying,2000-05-31,"[{'iso_639_1': 'es', 'name': 'Español'}]"
16627,91958,Less Is More,2000-07-21,"[{'iso_639_1': 'es', 'name': 'Español'}]"
17003,140101,Love Torn in a Dream,2000-08-28,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'pt', 'name': 'Português'}, {'iso_639_1': 'es', 'name': 'Español'}]"
18596,106199,Así es la vida...,2000-09-14,"[{'iso_639_1': 'es', 'name': 'Español'}]"
23801,162372,Fugitives,2000-10-06,"[{'iso_639_1': 'es', 'name': 'Español'}]"
32850,71118,Felicidades,2000-09-07,"[{'iso_639_1': 'es', 'name': 'Español'}]"
33500,73455,Speaking of Bunuel,2000-06-09,"[{'iso_639_1': 'es', 'name': 'Español'}]"
35071,45438,Tokyo Raiders,2000-01-28,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639_1': 'es', 'name': 'Español'}]"
35288,42195,The Testaments,2000-03-24,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'pt', 'name': 'Português'}, {'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso_639_1': 'uk', 'name': 'Український'}, {'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639_1': 'ko', 'name': '한국어/조선말'}, {'iso_639_1': 'zh', 'name': '普通话'}]"
40265,89068,Deep Core,2000-10-21,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
40907,43776,The Waiting List,2000-06-02,"[{'iso_639_1': 'es', 'name': 'Español'}]"
42133,83271,Año Mariano,2000-08-11,"[{'iso_639_1': 'es', 'name': 'Español'}]"
45420,18098,Arabian Nights,2000-04-30,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'pl', 'name': 'Polski'}, {'iso_639_1': 'es', 'name': 'Español'}]"

### Quiero obtener las pelicuas donde el idioma principal sea el español del año 2000

In [20]:
df_movies_metadata["release_date"] = pd.to_datetime(df_movies_metadata['release_date'],  errors='coerce')

In [21]:
df_movies_metadata["release_date"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 45466 entries, 0 to 45465
Series name: release_date
Non-Null Count  Dtype
--------------  -----
45376 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 355.3 KB

In [22]:
df_movies_metadata[(df_movies_metadata["release_date"]>='1995-12-15') & (df_movies_metadata["release_date"]<='1995-12-22')  ].filter(items=['id', 'title','release_date'])

           id                        title release_date
1        8844                      Jumanji   1995-12-15
2       15602             Grumpier Old Men   1995-12-22
3       31357            Waiting to Exhale   1995-12-22
5         949                         Heat   1995-12-15
6       11860                      Sabrina   1995-12-15
7       45325                 Tom and Huck   1995-12-22
8        9091                 Sudden Death   1995-12-22
11      12110  Dracula: Dead and Loving It   1995-12-22
12      21032                        Balto   1995-12-22
13      10858                        Nixon   1995-12-22
14       1408             Cutthroat Island   1995-12-22
25      16420                      Othello   1995-12-15
39      34615     Cry, the Beloved Country   1995-12-15
9701    42845                    The Blade   1995-12-21
14518   55261              Hidden Assassin   1995-12-15
22662  112575                 Adam and Eve   1995-12-22
24711   25391       Cyborg 3: The Recycler   1995-12-19
25913   56804              Viaggi di nozze   1995-12-15
28854   60079                    Lunar Cop   1995-12-19
32240   57857            The Christmas Box   1995-12-17
39065   37237            Bullet to Beijing   1995-12-20

In [24]:
df_movies_metadata.groupby('release_date').aggregate()

release_date
1874-12-09    1
1878-06-14    1
1883-11-19    1
1887-08-18    1
1888-01-01    1
             ..
2018-04-04    1
2018-04-25    1
2018-11-07    1
2018-12-31    1
2020-12-16    1
Length: 17333, dtype: int64

In [40]:
peliculas_del_2000_df

           id                                 title release_date
2654    19457                             The Yards   2000-04-27
3060    10471                           Next Friday   2000-01-12
3071    41276  The Life and Times of Hank Greenberg   2000-01-12
3072    17908                           My Dog Skip   2000-01-14
3073    10384                             Supernova   2000-01-14
...       ...                                   ...          ...
45125   62741                            Tender Age   2000-06-06
45132   15329                Tomorrow's Another Day   2000-11-15
45420   18098                        Arabian Nights   2000-04-30
45457  390959             Shadow of the Blair Witch   2000-10-22
45458  289923                   The Burkittsville 7   2000-10-03

[789 rows x 3 columns]